body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 2fr;
  text-align: center;
  background-image: url('images/PicnicTable.jpeg');
  background-size: cover;
  background-position: center;
  color: black;
}

table {
  background-color: brown;
  border: 5px brown solid;
  grid-row: 2/3;
  grid-column: 2/3;
  height: auto;
  width: auto;
  margin: 0 auto;
  max-width: 800px;
  max-height: 800px;
}

div {
  text-align: center;
  position: inherit;
}

td {
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 0;
  border: solid black 1px;
  background-color: #945b36;
}

.emptySpace {
  width: 50px;
  height: 50px;
  background-color: bisque;
}

.blackPiece {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-color: black;
  border: 2px white solid;
  border-radius: 50px;
  cursor: pointer;
  pointer-events: all;
}

.redPiece {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-color: red;
  border: 2px white solid;
  border-radius: 50px;
  cursor: pointer;
  pointer-events: all;
}

.reds {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/3;
}

.blacks {
  display: flex;
  grid-column: 3/4;
  grid-row: 2/3;
}

.king {
  border: 2px gold solid;
}

button {
  grid-column: 3/4;
}

h1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
